header p {
    margin:0;
    padding:0;
}

.header-background,
.header-content {
    width: 100%;
}

.header-background,
.guillotine-triangle,
.small-triangle,
.header-content,
.header-background {
    height:100vh;
}

.header-background,
.small-triangle,
.guillotine-triangle {
    position: absolute;
}

.small-triangle, 
.guillotine-triangle {
    width:70%;
}

.small-triangle {
    bottom:0;
    left:0;
}

.guillotine-triangle {
    bottom:0;
    right:0;
}

// Header background colors change on click 
.header-background,
.secondary-header-background {
    z-index: -10;
    .small-triangle,
    .secondary-small-triangle {
        height:50%;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        bottom:0;
        z-index: -30;
    }
}

.header-background {
    background-color: $backgroundColor;
    .small-triangle {
        background-color: $secondaryColor;
    }
}

.secondary-header-background {
    background-color:$primaryColor;
    .secondary-small-triangle {
        background-color: $backgroundColor;
    } 
}

.guillotine-triangle,
.secondary-guillotine-triangle {
    background: url(../assets/head-shot-2.png) right bottom/ contain no-repeat;
    background-size: 440px;
    clip-path: polygon(45% 0, 100% 0%, 100% 100%, 0% 100%);
    right:0;
    z-index: -20;
}

.guillotine-triangle {
    background-color: $primaryColor;
}

.secondary-guillotine-triangle {
    background-color: $secondaryColor;
}

.header-main {
    @include alignment (row, space-between, center, left);
}

.header-content {
    @include alignment (column, space-between, space-between, left);
    padding: 30px 0;
    z-index: 100;
    h1 {
        margin-bottom: 10px;
    }
}

.bars {
    @include alignment (row, space-between, flex-end, center);
    width:40px;
    margin: 0 auto;
    z-index: -10;
    .short-bar {
        display:block;
        background-color:$contrastColor;
        width:4px;
        height:20px;
    }
    .tall-bar {
        display:block;
        background-color:$highlightColor;
        width:4px;
        height:40px;
    }
}

.bars:hover {
    cursor: pointer;
}

.header-social-icons ul {
    @include alignment (row, flex-start, center, center);
    display: flex;
    li {
        margin-right:15px;
    }
    li:last-child {
        margin-right:0;
    }
}



// Media Queries 

@media (max-width:900px) {
    .guillotine-triangle,
    .secondary-guillotine-triangle {
        background-size: 375px;
    }
}

@media (max-width:812px) {
    .header-content {
        display: block;
        position:relative;
    }

    .bars {
        position: absolute;
        bottom:1%;
        left:50%;
    }

    .header-main {
        margin-top:50px;
        .header-text {
            width:95%;
        }
    }

    .header-text p:last-child {
        width: 90%;
    }
}


@media (max-width:550px) {
    .header-content h1 {
        margin-bottom: 5px;
    }

    .header-social-icons {
        font-size: 1rem;
    }

    .guillotine-triangle,
    .secondary-guillotine-triangle {
        background-size: 300px;
    }

    .bars {
        bottom:1%;
        left:5%;
    }

}

@media (max-width:450px) {
    .guillotine-triangle,
    .secondary-guillotine-triangle {
        background-size: 300px;
    }
}

@media (max-width:400px) {
    .guillotine-triangle,
    .secondary-guillotine-triangle {
        background-size: 200px;
    }
}


// Height Queries 

@media (max-width:812px) and (min-height: 1000px) {
    .header-main {
        margin-top:175px;
    }
}


// iphone X
@media (max-width:375px) and (min-height: 812px) {
    .guillotine-triangle,
    .secondary-guillotine-triangle {
        background-size: 250px;
    }
}


@media (max-height:812px) {
    .header-main {
        margin-top:100px;
    }
}


@media (max-height:500px) {
    .guillotine-triangle,
    .secondary-guillotine-triangle {
        background-size: 200px;
    }

    .header-social-icons ul li {
        font-size: 1rem;
    }

}


@media (max-height:414px) {
    .header-main {
        margin-top:30px;
    }
    
    .header-text p:last-child {
        width: 70%;
    }
}